{% extends "_base.html" %}

{% block title %}项目进度管理系统{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='my.ico') }}" type="image/x-icon">





    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/vendor/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/vendor/respond.min.js') }}"></script>
    <![endif]-->


{% endblock %}

{% block navbar %}
    <style>
      body {
          padding-bottom: 10px;
          padding-top: 10px;
          background-image:url("http://o6gcipdzi.bkt.clouddn.com/547b2f100a0e4.png");
          background-attachment:fixed;
      }
      .navbar {
          margin-bottom: 10px;
      }
    </style>
    <!-- Static navbar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
            <span class="sr-only">Toggle navigation</span>
          </button>
        </div>
          <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/pm3.png') }}" style="width:160px;margin:10px; float: left;"/></a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-5">
          <ul class="nav navbar-nav">
              <li><a href="#">hello, {{ current_user.name }}</a></li>
              <li><a href="{{ url_for('main.index') }}"> 主页 </a></li>
              <li><a href="{{ url_for('manage.index') }}"> 管理 </a></li>
              <li><a href="{{ url_for('tree.index') }}"> 项目树 </a></li>
           </ul>

          <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
              <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
              <li><a href="{{ url_for('auth.register') }}">注册</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

{% endblock %}

{% block content %}
<div class="container" style="margin-top:30px;margin-bottom:0px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>

    {% endfor %}
</div>
{% block page_content %}{% endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
