{% extends "manage/base.html" %}
{% import "_macros.html" as macros %}

{% block title %}项目管理{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/blue/style3.css') }}" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
    <script type="text/javascript">
		$(function() {
			$("table").tablesorter({debug: true});
		});

    </script>
    <script type="text/javascript">
      var xmlhttp;
      $(document).ready(function() {
          $("#choose_modal").click(function(){
              $("#chooseUsers").modal({backdrop: true});

    });
          $("#select").click(function () {
              var url_id = '';
              var checkednum = $("input:checked");
              if(checkednum.length > 0){
                    for (var i=0;i<checkednum.length;i++){
                        url_id += checkednum[i].name;
                        url_id += '&';
                    }
                  window.location.href='/manage/manager_view/filter/'+url_id;
              }
          })

  });

</script>
{% endblock %}
{% block page_content %}

<div class="container">

<div class="row">
     <table class="tablesorter table table-hover table-bordered " style="background-color: white">
         <thead>
         <tr style="font-size: 30px">
             <th width="18%">项目名</th>
             <th width="18%">父项目</th>
             <th width="12%">创建时间</th>
             <th width="12%">开始时间</th>
             <th width="12%">预计结束时间</th>
             <th width="10%">剩余天数</th>
             <th width="10%" id="choose_modal">项目所有</th>
             <th width="8%">状态</th>
         </tr>
         </thead>
         <tbody style="font-size: 17px">
         {% for p in projects %}
             <tr>
                 <td><a href="{{ url_for('main.project', project_id=p.id) }}">{{ p.name }}</a></td>
                 <td><a href="{{ url_for('main.project', project_id=p.father.id) }}">{{ p.father.name }}</a></td>
                 <td>{{ p.start_time.strftime('%Y-%m-%d') }}</td>
                 <td>{{ p.start_time.strftime('%Y-%m-%d') }}</td>
                 <td>{{ p.expected_finish_at.strftime('%Y-%m-%d') }}</td>
                 <td> {{ (p.expected_finish_at - p.start_time).days }} 个工作日</td>
                 <td>
                     {{ p.creator.name }}
                 </td>
                 <td>{% if p.status %} 已完成 {% else %} 未完成 {% endif %}</td>
             </tr>
         {% endfor %}
         </tbody>
     </table>

    </div>
</div>


    <!-- 模态框（Modal）选择筛选成员用 -->
<div class="modal fade" id="chooseUsers" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(19, 19, 19, 0.77)">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #ffffff">
                    &times;
                </button>
                <h6 class="modal-title" id="myModalLabel"style="color: #ffffff">
                    <span class="login-field-icon fui-user"> </span>
                    选择用户
                </h6>
            </div>
            <div class="modal-body">
                {% for u in users %}
                    <div class="form-group">
                        <form>
                            <label>
                                <p>
                                    <input type="checkbox"  name="{{ u.id }}"  />{{ u.name }}
                                </p>
                            </label>
                        </form>
                    </div>
                {% endfor %}
                <div class="modal-footer">
                    <button id="select" class="btn btn-primary" >选择</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
   <!-- /.添加成员项目框结束 -->
{% endblock %}
