{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}项目进度管理系统{% endblock %}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
<script type="text/javascript">
      var xmlhttp;
      var finish_steps_length = {{ finish_steps_length }};
      var steps_length = {{ steps_length }};
      if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
      } else { // code for IE6, IE5
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
      }

      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            $("#"+xmlhttp.responseText).attr("class","btn btn-success");
            $("#"+xmlhttp.responseText).attr("disabled","disabled");
            $("#"+xmlhttp.responseText).text("已解决");
            finish_steps_length ++;
            var progress = (finish_steps_length / steps_length) * 100;
            $("#progress-bar").attr("aria-valuenow", progress);
            $("#progress-bar").attr("style", "width:"+ progress +"%");
            if(finish_steps_length == steps_length){
               $("#project_status").text("完成");
            };

        }}
      $(document).ready(function(){
          $(".btn-danger").click(function(){
               if (confirm("确定已完成当前步骤？")==true)
               {

                  var sid = $(this).attr("id");
                  xmlhttp.open("GET", "/step/finish/"+sid, true);
                  xmlhttp.send();
               }
          });
        });

</script>

{% endblock %}

{% block page_content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-primary" role="button"data-toggle="modal"  data-target="#myModal"
       style="margin-top:10px;margin-bottom:10px;">+ 新建一个项目</a>
    {% if projects == [] %}
        <h4> 没有项目 </h4>
    {% else %}
        <h3> 我参与的项目 </h3>
        <div class="list-group">
            {% for p in projects %}
                 {% if p == project %}
                 <a href="{{ url_for('.project', id=p.id) }}" class="list-group-item active">{{ p.name }}</a>
                 {% else %}
                    {% if p.status %}
                    <a href="{{ url_for('.project', id=p.id) }}" class="list-group-item list-group-item-success">
                        {{ p.name }}
                    </a>
                    {% else %}
                    <a href="{{ url_for('.project', id=p.id) }}" class="list-group-item ">{{ p.name }}</a>
                    {% endif %}
                 {% endif %}
            {%  endfor %}
        </div>
    {% endif %}
    </div>
    <div class="col-md-7" >
        {% if project != None %}
            {% if project.status %}
                <div class="panel panel-success">
            {% elif (remained_days | days_output) >= 0  %}
                <div class="panel panel-info">
            {% else %}
                <div class="panel panel-danger">
            {% endif %}
      <!-- Default panel contents -->
      <div class="panel-heading">
          <h2>{{ project.name }}</h2>
              {% if project.status %}
                  <h4 id="project_time" class="text-right">
                  项目时间：{{ project.create_at | date_output }} 至 {{ project.finish_at | date_output }}
                  </h4>
                  <h4 id="project_status" class="text-right">
                  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 项目已完成
                  </h4>
              {% elif (remained_days | days_output) >= 0  %}
                  <h4 id="project_time" class="text-right">
                  项目时间：{{ project.create_at | date_output }} 至 {{ project.expected_finish_at | date_output }}
                  </h4>
                  <h4 id="project_status" class="text-right">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"> </span> 剩下 <b>{{ remained_days | days_output }}</b>天
                  </h4>
              {% else %}
                  <h4 id="project_time" class="text-right">
                  项目时间：{{ project.create_at | date_output }} 至 {{ project.expected_finish_at | date_output }}
                  </h4>
                  <h4 id="project_status" class="text-right">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"> </span> 项目超期 <b>{{ remained_days | days_output | negate }}</b> 天
                  </h4>
              {% endif %}
      </div>

        <div class="panel-body">
          <h3> {{ project.content }}</h3>
        </div>
        <div class="progress"  style="margin-top:0px;margin-bottom:20px;">
          <div id="progress-bar" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
               aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
            <span class="sr-only"></span>
          </div>
        </div>
      <!-- Table -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>content</th>
            <th>position</th>
          </tr>
        </thead>
       {% for s in project.steps %}
        <tbody>
          <tr>
            <th scope="row" width="10%"></th>
            <td width="60%"> <h4> {{ s.content }} </h4></td>
            <td width="30%">
                {% if  s.status  %}
                    <a class="btn btn-success" role="button"  disabled="disabled"> 已解决 </a>
                {% else %}
                    <a class="btn btn-danger" role="button"  id="{{ s.id }}"> 待解决 </a>
                {% endif %}
            </td>
          </tr>
        </tbody>
     {% endfor %}
      </table>
    </div>

{% endif %}
</div>
    <div class="col-md-1">
                <h3>项目成员</h3>
        <ul class="list-group">
        <li class="list-group-item active "> 创建人：{{ project.creator.name }}</li>
        {% for u in project.users %}
            <li class="list-group-item">{{ u.name }}</li>
        {% endfor %}
        <a href="" class="list-group-item ">
        +
        </a>

       </ul>
    </div>
      </div>

  </div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h3 class="modal-title" id="myModalLabel">
               创建新项目
            </h3>
         </div>
         <div class="modal-body">

                    <form id="createProject" name="createProject"  method="POST" role="form" action=/create_project>
                    <div class="form-group">
                        <label for="inputName">项目名称</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                         <label for="inputContent">项目内容</label>
                         <input type="text" class="form-control" id="content" name="content">
                    </div>
                    <div class="form-group">
                        <label for="date">项目起始时间</label>
                        <input type="text" class="form-control"  id="datepicker1" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="date">预期完成时间</label>
                        <input type="text" class="form-control"  id="datepicker2" name="finish_time">
                    </div>
                    <div class="form-group" id="1">
                        <label for="inputStep1">步骤1</label>
                        <input type="text" class="form-control" id="step1" name="step1">
                    </div>
                    <div style="margin-top:20px;margin-bottom:20px;">
                        <a class="btn btn-info"   id="add" >+</a>
                    </div>
                    <button type="submit" class="btn btn-primary" >确认</button>
                    </form>
                </div>


      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<script>
$( "#datepicker1" ).datepicker({
	inline: true
});
$( "#datepicker2" ).datepicker({
	inline: true
});
</script>
    <script>
$(document).ready(function(){
    $("#add").click(function(){
        var n = $("#createProject").find("div").length - 4 ;
        var trHTML = " <div class='form-group' style='margin-top:15px;margin-bottom:15px;'><label for='inputStep1'>步骤"
                + n + "</label> <input type='text' class='form-control' id='step"+
                n + "' name='step"+ n + "'> </div>";
        $("#1").append(trHTML);

    });
});</script>
{% endblock %}
