{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}项目进度管理系统{% endblock %}
{% block body_attribs %}
{% endblock %}
{% block head %}
{{ super() }}
    <link href="{{ url_for('static', filename='css/star-rating.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/star-rating.js') }}"></script>
<style type="text/css">
.bignumber {font-size:40px;}
.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:25px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
#head p {
    text-align: right;
}

img {
    width: 12%;
    margin-right: 2%;
    margin-bottom: 2%;
}



</style>
<script type="text/javascript">
    var xmlhttp;
    var finish_steps_length = {{ finish_steps_length }};
    var steps_length = {{ steps_length }};
    function tree_function()
    {
        $.get('{{ url_for('tree.get_tree', project_id = project.id ) }}', function (data, status) {
            if(status ==='success'){
                $('#tree').html(data);
                $("#tree_modal").modal({backdrop: true});
            }

        });
    }
    //以下是jquery 完成步骤函数
    $(document).ready(function(){
        $("#input-id").rating();
        $("#commit_history_form").hide();
        $("#create_modal").click(function(){
        $("#create_project").modal({backdrop: true});
    });
        $("#add_modal").click(function(){
        $("#addNewUsers").modal({backdrop: true});
    });
        $("#minus_modal").click(function(){
        $("#removeUsers").modal({backdrop: true});
    });
        $("#commit_history").click(function(){
            $(this).attr("class", "active");
            $("#operation_history").attr("class", " ");
            $("#operation_history_form").hide();
            $("#commit_history_form").show();
    });
        $("#operation_history").click(function(){
            $(this).attr("class", "active");
            $("#commit_history").attr("class", " ");
            $("#commit_history_form").hide();
            $("#operation_history_form").show();

    });
        $(".btn-danger").click(function(){
            var sid = $(this).attr("id");
            $("#finish_step_remark").modal({backdrop: "static"});
            $("#step_finish_button").click(function (){
                alert(sid);
                var remark_text = $("#finish_remark").val();
                if($('#'+sid).attr("class") !== "btn btn-success"){
                $.post("/step/finish/"+sid,
                {
                    remark:remark_text
                },
                function(data,status){
                    if(status === 'success'){
                        var dataObj=eval("("+data+")");
                        if(dataObj.p_status === 1){
                             window.location.reload();
                         }
                        else {
                             $('#finish_step_remark').modal('hide');
                             $('#'+dataObj.sid).attr("class","btn btn-success");
                             $('#'+dataObj.sid).text("已解决");
                             if($('#'+dataObj.sid).parent().find('a').length == 1){
                                 $('#'+dataObj.sid).parent().append('<a class="btn btn-inverse" role="button" href="/project/step/'+dataObj.sid+'/cancel">撤销 </a>');
                             }
                             $('#'+'remark'+dataObj.sid).text(remark_text);
                             finish_steps_length = dataObj.finish_steps_length;
                             var progress = (finish_steps_length / steps_length) * 100;
                             $("#progress-bar").attr("aria-valuenow", progress);
                             $("#progress-bar").attr("style", "width:"+ progress +"%");}


                         }
                });}
            });

            })

    });



</script>

{% endblock %}

{% block page_content %}
<div class="container-fluid" style="margin-top: 50px">
  <div class="row" >
    <!-- 第一个网格 显示user项目信息 -->
    <div class="col-md-2 col-md-offset-1">
            <a class="btn btn-primary" role="button"  id="create_modal"
       style="margin-top:10px;margin-bottom:10px;">+ 新建一个项目</a>
    {% if projects == [] %}
        <h4> 没有项目 </h4>
    {% else %}
        <ul class="nav nav-tabs" style="margin-bottom: 10px;margin-top: 20px">
           <li role="presentation">
                <img src="{{ url_for('static', filename='img/icons/png/Infinity-Loop.png') }}" />  我参与的项目
           </li>
        </ul>

        <div class="list-group" style="font-size:16px">
            {% for p in projects %}
                {% if not p.status %}
                 {% if p == project %}
                 <a href="{{ url_for('.project', project_id=p.id) }}" class="list-group-item active">{{ p.name }}
                     {% for _ in range(p.priority) %}
                       <span class="glyphicon glyphicon-star" style="color: #f1c40f; "></span>
                     {% endfor %}
                 </a>
                 {% else %}
                    <a href="{{ url_for('.project', project_id=p.id) }}" class="list-group-item">
                        {{ p.name }}
                    {% for _ in range(p.priority) %}
                       <span class="glyphicon glyphicon-star" style="color: #f1c40f; "></span>
                     {% endfor %}
                    </a>
                    {% endif %}
                 {% endif %}
            {%  endfor %}
        </div>
<ul class="nav nav-tabs" style="margin-bottom: 10px;margin-top: 20px">
           <li role="presentation">
                <img src="{{ url_for('static', filename='img/icons/png/Retina-Ready.png') }}" /> 已完成的项目
           </li>
        </ul>       <div class="list-group"style="font-size:16px">
            {% for p in projects %}
                {% if p.status %}
                 {% if p == project %}
                 <a href="{{ url_for('.project', project_id=p.id) }}" class="list-group-item active">{{ p.name }}
                    {% for _ in range(p.priority) %}
                       <span class="glyphicon glyphicon-star" style="color: #f1c40f; "></span>
                     {% endfor %}</a>

                 {% else %}
                    <a href="{{ url_for('.project', project_id=p.id) }}"class="list-group-item list-group-item-success">
                        {{ p.name }}
                        {% for _ in range(p.priority) %}
                           <span class="glyphicon glyphicon-star" style="color: #f1c40f; "></span>
                        {% endfor %}
                    </a>
                    {% endif %}
                 {% endif %}
            {%  endfor %}
        </div>
    {% endif %}
    </div>
    <!-- /.第一个网格结束 -->

    <!-- 中间网格 显示当前项目信息 -->
    <div class="col-md-7" >
        {% if project != None %}
            {% if project.status %}
                <div class="panel panel-success">
            {% elif (remained_days | days_output) >= 0  %}
                <div class="panel panel-{{ color[project.priority] }}" >
            {% else %}
                <div class="panel panel-danger">
            {% endif %}
      <!-- Default panel contents -->
      <div class="panel-heading " id="head">
          <h6><small>  <span style="float:left;margin-right: 10px" class="label label-default">id:{{ project.id }}  </span></small>
               <span style="margin-right: 10px"> {{ project.name }} </span>
              <a href='{{ url_for('.edit', project_id=project.id) }}' style="float:right" type="button" class="btn btn-primary">编辑 </a>
              <button style="float:right;margin-right: 10px" onclick="tree_function()" class="btn btn-inverse"> 关系树  </button>
              {% for _ in range(project.priority) %}
              <span class="glyphicon glyphicon-star" style="color: #f1c40f; ">   </span>
              {% endfor %}
          </h6>
              <p style="margin-top: 30px"><span style="font-size: 20px;" class="tag label label-info">
                  git: {{ project.git_name }}</span></p>
              {% if project.status %}
                  <p id="project_time">
                  项目时间：{{ project.start_time | date_output }} 至 {{ project.finish_at | date_output }}
                  </p>
                  <p id="project_status">
                  <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span> 项目已完成
                  </p>
              {% elif (remained_days | days_output) >= 0  %}
                  <p id="project_time">
                  项目时间：{{ project.start_time | date_output }} 至 {{ project.expected_finish_at | date_output }}
                  </p>
                  <p id="project_status">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"> </span> 剩下
                      <span class="bignumber">{{ remained_days | days_output }}</span>天
                  </p>
              {% else %}
                  <p id="project_time">
                  项目时间：{{ project.start_time | date_output }} 至 {{ project.expected_finish_at | date_output }}
                  </p>
                  <p id="project_status">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"> </span> 项目超期
                      <span class="bignumber">{{ remained_days | days_output | negate }}</span> 天
                  </p>
              {% endif %}
      </div>

        <div class="panel-body">{{ project.content }}
        </div>
        <div class="progress"  style="margin-top:0px;margin-bottom:20px;">
          <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar"
               aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
            <span class="sr-only"></span>
          </div>
        </div>
      <!-- Table -->
      <table class="table table-hover"  style="table-layout:fixed">
        <thead>
          <tr>
            <th width="60%">content</th>
            <th width="20%">position</th>
             <th width="20%">remark</th>

          </tr>
        </thead>
       {% for s in project.steps %}
        <tbody>
          <tr >
            <td>{{ s.content }}</td>
            <td >
                {% if  s.status  %}
                    <a class="btn btn-success" role="button" > 已解决 </a>
                           <a class="btn btn-inverse" role="button" href="{{ url_for('main.step_status_cancel', sid=s.id) }}">
                               撤销
                           </a>
                {% else %}
                    <a class="btn btn-danger" role="button" id="{{ s.id }}"> 待解决 </a>

                {% endif %}
            </td>
             <td id="remark{{ s.id }}" style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                {% if s.finish_remark != None %} {{ s.finish_remark }} {% endif %}
             </td>

          </tr>
        </tbody>
     {% endfor %}
      </table>
    </div>
    <div>

    <!-- 两个选项-->
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" id="operation_history"><a><span class="fui-time"> 操作历史</span></a></li>
        <li role="presentation" id="commit_history"><a>commits</a></li>
    </ul>

    <table class="table table-hover" id="commit_history_form" >
    <thead>
      <tr>
      <th ></th>
      <th></th>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
    {% for c in commits[::-1] %}
          <tr>
            <td  style="font-size: 16px;">{{ moment(c.create_at).fromNow(refresh=True) }} </td>
            <td width="15%" style="font-size: 16px;">
               <span style="color: #007fff">[{{ c.branch }}] </span>
            </td>
            <td width="20%" style="font-size: 16px;">  by {{ c.message }}> </td>
            <td width="20%" style="font-size: 16px;">  <span style="color: #76231f">[{{ c.ref }}]</span> </td>
            <td width="30%" style="font-size: 16px;">  by {{ c.cname }} < {{ c.cemail }} > </td>
          </tr>
    {% endfor %}
        </tbody>
    </table>

    <table class="table table-hover" id="operation_history_form">
    <thead>
      <tr>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
    {% for r in project.records[::-1] %}
          <tr>
            <td width="20%" style="font-size: 16px;">{{ moment(r.create_at).fromNow(refresh=True) }} </td>
            <td width="50%" style="font-size: 16px;"> {{ r.content }}    </td>
          </tr>
    {% endfor %}
        </tbody>
    </table>
        <!-- 两个选项结束-->
    </div>
{% endif %}
</div>
<!-- /.中间网格结束-->

    <!-- 第三个网格 显示项目的成员 -->
    {% if projects != [] %}
    <div class="col-md-1" >
        <ul class="list-group">
        <li class="list-group-item active text-center "  >  <span class="login-field-icon fui-user"> </span>
            {{ project.creator.name }}</li>
        {% for u in project.users %}
            <li class="list-group-item text-center" style="font-size: 15px" >{{ u.name }}</li>
        {% endfor %}
        <a id="add_modal" class="list-group-item text-center" style="color: #31b0d5">
        <span class="glyphicon glyphicon-plus-sign"> </span>
        </a>
        {% if current_user == project.creator %}
        <a id="minus_modal" class="list-group-item text-center" style="color: #d53922">
        <span class="glyphicon glyphicon-minus-sign"> </span>
        </a>
        {% endif %}
       </ul>
    </div>
        <!-- /.第三个网格 结束 -->
    {% endif %}
      </div>
        <!-- /.row 结束 -->
</div>
<!-- /.contain 结束 -->


<!-- 模态框1（Modal）创建项目用 -->
<div class="modal fade" id="create_project" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header"  style="background-color: rgba(19, 19, 19, 0.77)">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true" style="color: #ffffff">
                  &times;
            </button>
            <h6 class="modal-title" id="myModalLabel" style="color: #ffffff">
               <span class="fui-document"> </span> 创建新项目
            </h6>
         </div>
         <div class="modal-body">
                    <form id="createProject" name="createProject"  method="POST" role="form" action=/create_project>
                    <div class="form-group">
                        <label for="name">项目名称</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                         <label for="content">项目内容</label>
                         <textarea  type="text" class="form-control"  rows="3" id="content" name="content"></textarea>
                    </div>
                    <div class="form-group ">
                        <label >父项目</label>
                        <select data-toggle="select" class="form-control select select-inverse mrs mbm" name="father">
                            <option value="None"> None </option>
                            {% for ap in all_projects%}
                                <option value="{{ ap.id }}">{{ ap.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group " id="git_input">
                        <div class="input-group">
                            <input type="text" class="form-control" id="git_name" name="git_name">
                            <span class="input-group-addon">.git</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="datepicker1">项目起始时间</label>
                        <input type="text" class="form-control"  id="datepicker1" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="datepicker2">预期完成时间</label>
                        <input type="text" class="form-control"  id="datepicker2" name="finish_time">
                    </div>
                    <div class="form-group">
                         <label for="input-id">项目优先级</label>
                         <input id="input-id" type="number" class="rating"
                                min=0 max=5 step=1 data-size="xs" name="priority" />
                    </div>

                    <div id="step_groups">
                    <div class="form-group" id="1">
                        <label for="step1">步骤1(必需)</label>
                        <input type="text" class="form-control" id="step1" name="step1">
                    </div>
                    </div>
                    <div style="margin-top:20px;margin-bottom:20px;">
                        <a class="btn btn-info"   id="add"  >  +  </a>          <a class="btn btn-warning"   id="decrease"  > - </a>
                    </div>
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"  onclick="return check(this.form)" >创建</button>
                    </div>
                    </form>
                </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
   <!-- /.创建项目框结束 -->


<!-- 模态框2（Modal）添加成员用 -->
<div class="modal fade" id="addNewUsers" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header" style="background-color: rgba(19, 19, 19, 0.77)">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true" style="color: #ffffff">
                  &times;
            </button>
            <h6 class="modal-title" id="myModalLabel"style="color: #ffffff">
                 <span class="login-field-icon fui-user"> </span>
               添加成员
            </h6>
         </div>
         <div class="modal-body">
              <form id="addUser" name="addUser"  method="POST" role="form" action="/project/{{ project.id }}/addUser">
                  {% for u in other_users %}
                  <div class="form-group">
                      <label>
                          <p><input type="checkbox" id="choice" name="{{ u.id }}">
                              {{ u.name }}</p>
                      </label>

                  </div>
                   {% endfor %}
                  <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"  >确认添加</button>
                  </div>
              </form>

         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
   <!-- /.添加成员项目框结束 -->

<!-- 模态框3（Modal）移除成员用 -->
<div class="modal fade" id="removeUsers" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header" style="background-color: rgba(19, 19, 19, 0.77)">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true" style="color: #ffffff">
                  &times;
            </button>
            <h6 class="modal-title" id="myModalLabel"style="color: #ffffff">
                                 <span class="login-field-icon fui-user"> </span>
               移除成员
            </h6>
         </div>
         <div class="modal-body">
              <form id="removeForm" name="removeForm"  method="POST" role="form" action="/project/{{ project.id }}/removeUser">
                  {% for u in project.users %}
                  {% if u != current_user and u != project.creator %}
                  <div class="form-group">
                      <label>
                          <p><input type="checkbox" id="choice" name="{{ u.id }}">
                              {{ u.name }}</p>
                      </label>
                  </div>
                      {% endif %}
                   {% endfor %}
                  <div class="modal-footer">
                  <button type="submit" class="btn btn-primary"  >确认移除</button>
                  </div>
              </form>

         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
   <!-- /.添加成员项目框结束 -->

<!-- 模态框4（Modal）完成步骤的时候用到，主要是在原来的基础上添加备注 -->
<div class="modal fade" id="finish_step_remark" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h6 class="modal-title" id="myModalLabel">
               完成步骤
            </h6>
         </div>
         <div class="modal-body">
                    <div class="form-group">
                         <label for="inputContent">备注内容</label>
                         <textarea  type="text" class="form-control"  rows="3" id="finish_remark" name="step_finish_remark"></textarea>
                    </div>
             <div class="modal-footer">
              <button class="btn btn-primary" id="step_finish_button" >确认完成</button>
             </div>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
   <!-- /.添加成员项目框结束 -->


<!-- 模态框6（Modal）项目树 -->
<div class="modal fade" id="tree_modal" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h6 class="modal-title" id="myModalLabel">
                树形关系图
            </h6>
         </div>
         <div class="modal-body">
             <div class="tree well" id="tree">

             </div>
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
   <!-- /.项目数项目框结束 -->


<script>
//创建project模拟框的两个时间选择器触发函数
$( "#datepicker1" ).datepicker({
	inline: true
});
$( "#datepicker2" ).datepicker({
	inline: true
});
</script>
<script>
    //下面是模拟框提交创建project的函数
$(document).ready(function(){
    $("#add").click(function(){
        var n = $("#step_groups").find("div").length + 1 ;
        var trHTML = " <div class='form-group' style='margin-top:15px;margin-bottom:15px;'><label for='inputStep1'>步骤"
                + n + "</label> <input type='text' class='form-control' id='step"+
                n + "' name='step"+ n + "'> </div>";
        $("#1").append(trHTML);

    });
    $("#decrease").click(function(){
        if(($("#step_groups").find("div").length) > 1){
        $("#step_groups").find("div").last().remove() ;}
    });
});
</script>
<script type="text/javascript">
    function check(form) {
          if(form.name.value=='') {
                alert("请输入用户帐号!");
                return false;
           }
         }
</script>
{% endblock %}
